.home {
  background-color: ;
  width: 615px;
  border-right: gray solid 1px;
  
}
.home-title {
  font-family: Karla, Arial;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
  cursor: pointer;
}
.home-header {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px gray;
  margin-top: 15px;
  
  
}
.for-you-section {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 350px;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: Karla, Arial;
  transition: background-color 0.15s;
  
}
.for-you-section:hover {
  background-color: rgb(231, 231, 232);
}
.following-section {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.15s;
  font-size: 16px;
  font-weight: 700;
  font-family: Karla, Arial;
  
}
.following-section:hover {
  background-color: rgb(231, 231, 232);
}
.handle-container-main {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}

.tweet-handle {
  display: flex;
  align-items: center;
}
.profile-picture-box {
  background-color: black;
  width: 46px;
  height: 46px;
  border-radius: 25px;

  margin-top: -70px;
  margin-left: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}
.profile-picture {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 25px;
  
  
  cursor: pointer;
  
  
}
.profile-picture:hover {
  opacity: 0.85;
}
.input-box {
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 15px;
}
.input-box::placeholder {
  font-size: 23px;
  color: rgb(89, 96, 102);
  font-family: Karla, Arial;
  font-weight: 500;
  
}
.container-handle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweet-handle-icons-container {
  margin-left: 12px;
}
.tweet-handle-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 0px;
  cursor: pointer;

  border-style: solid;
  border-width: 2px;
  border-color: aqua;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;

  border-radius: 30px;
  transition: background-color 0.15s;
}
.location-icon {
  margin-left: 20px;
}

.tweet-handle-icon:hover {
  background-color: rgb(142, 205, 248);
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-size: 16px;
  font-family: Karla, Arial;
  font-weight: 700;
}

.show-tweet {
  display: flex;
  justify-content: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 1px;
  color: rgb(142, 205, 248);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Karla, Arial;
  font-size: 16px;
}

.tweet-container {
  display: flex;
  
  border-color: gray;
  border-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;

}
.thumbnails {
  background-color: lightgreen;
  height: 100px;
}
.tweet-account-picture {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 15px;
}
.tweet-handle-container {
  background-color: lightblue;

}
.tweet-handle-account-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-style: solid;
  border-color: blue;
  border-width: 2px;

}
.tweet-account-details {
  display: flex;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  font-weight: 700;
  font-family: Karla, Arial;
  padding-right: 10px;
}
.icon-verified-account {
  height: 20px;
  width: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
.tweet-user-address {
  font-weight: normal;
  color: gray;
}
.tweet-more-about-account {
  display: flex;
  
  color: gray;
  font-size: 25px;
  
  border-style: solid;
  border-color: red;
  border-width: 2px;
  
}

.tweets {
  width: 500px;
  
  border-style: solid;
  border-color: red;
  border-width: 2px;

  font-family: Karla, Arial;
  font-size: 15px;
}
.tweet-stats {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  color: rgb(83, 100, 113);

  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.tweet-stats-icons {
  height: 15px;
  width: 20px;
  margin-right: 3px;

  border-color: blue;
  border-width: 2px;
  border-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 6px;
  padding-left: 6px;

  border-radius: 30px;
  cursor: pointer;
}
.tweet-stats-like-icon {
  font-size: 30px;
  font-weight: 700;
  
}
.tweet-stats-icons:hover, .reply-stats:hover {
  background-color: rgb(225, 238, 246);
}

.retweet-stats:hover {
  background-color: rgb(222, 241, 235);
  color: rgb(0, 186, 124);
}

.tweet-stats-icons-upload {
  height: 13px;
  width: 13px;
  object-fit: cover;

  border-color: blue;
  border-width: 2px;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 14px;
  padding-left: 14px;

  border-radius: 30px;
}
.stats-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.stats-icons:hover {
  color: rgb(53, 165, 241);
}