.trend-section {
  width: 400px;
}

.input-box {
  display: flex;
  width: 360px;
}
.search-button {
  width: 38px;
  border-style: none;
  background-color: rgb(239, 243, 244);
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.trend-section-inputbox {
  width: 350px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(239, 243, 244);
  font-size: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
.trend-section-inputbox::placeholder {
  font-size: 16px;
  color: rgb(86, 103, 116);
}

.trend-section-for-user {
  width: 350px;
  margin-left: 15px;

  border-width: 2px;
  border-style: solid;
  border-color: lightpink;
  border-radius: 15px;

  background-color: rgb(239, 243, 244);
}

.trend-for-user-title {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 15px;
}
.trend-for-user {
  padding-top: 15px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}
.trend-for-user:hover {
  background-color: rgb(231, 231, 232);
}
.trend-titles {
  height: 60px;
}
.trend-type {
  color: gray;
  font-size: 13px;
}
.trend-user {
  font-size: 15px;
  font-weight: 700;
}


.more-about-trend {
  background-color: lightgrey;
  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
}


.show-more-section {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: rgb(12, 135, 218);
  cursor: pointer;
}
.show-more-section:hover {
  background-color: rgb(231, 231, 232);
}

.terms-and-condition-section {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: gray;
  

  width: 330px;
  margin-top: 15px;
  margin-left: 20px;

  padding-top: 15px;
  padding-left: 15px;

  font-size: 14px;
  color: gray;
}
.inline-terms-and-condions-style {
  margin-left: 6px;
  margin-right: 6px;
}

.terms-condition-underline {
  cursor: pointer;
}
.terms-condition-underline:hover {
  text-decoration: underline;
}