/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Montserrat:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CSS reset*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*Global variables*/
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textBGColor: #525252;
  --bgColor: #f7f7f7;
}

/*== Header start ==*/

header {
  height: 100vh;
  width: 300px;
  padding: 15px 30px;
  background: var(--sideBGColor);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 99;
}

header .profile {
  text-align: center;
  margin: 10px 0;
}

header .profile img {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--iconBGColor);
}

header .profile_img {
  height: 150px;
  object-fit: cover;
}

header .profile h1 {
  color: #f7f7f7;
  font-weight: 600;
}

header .profile .social_icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  background: var(--iconBGColor);
  color: #f7f7f7;
  font-size: 18px;
  margin: 1.5px;
  transition: 0.4s;
}
header .profile .social_icons a:hover {
  background: var(--themeColor);

}

/*== Navbar ==*/
header nav {
  margin-top: 30px;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  margin: 7px 0;
  color: #d3d3d3;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6px;
}

header nav ul li a i {
  margin-right: 10px;
  font-size: 20px;
  transition: 0.4s;
}

header nav ul li a:hover i {
  color: var(--themeColor);
}

header nav ul li .active i {
  color: var(--themeColor);
}
/*== End of Navbar ==*/

/*== Footer ==*/
header .footer {
  text-align: center;
  background: var(--sideBGColor);
  width: 300px;
  color: #d3d3d3;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

header .footer p a {
  color: var(--themeColor);
}
/*== End of footer ==*/


/*== Mobile nav toggle*/
#menuBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: #f7f7f7;
  background: var(--themeColor);
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  display: none;
  z-index: 999;
  
}
/*==Mobile view*/
@media(max-width: 1050px) {
  header {
    left: -300px;
  }

  header .footer {
    left: -300px;
  }

  #menuBtn {
    display: block;
  }
}

/*== Header Toggle ==*/
.mobile_nav_active header {
  left: 0;
}

.mobile_nav_active header .footer {
  left: 0;
}
/*== End of Mobile nav toggle*/

/*== Header end ==*/

/*<-------------------------------------------------------------->*/

/*== MAIN SECTION ==*/
main {
  margin-left: 300px;
  background: var(--bgColor);
  transform: 0.3s;
}

@media(max-width: 1050px) {
  main {
    margin-left: 0;
  }
}
/*== END OF MAIN SECTION ==*/

/*== Home section ==*/
#home {
  height: 100vh;
  width: 100%;
  background-image: url(../../ziha-web-1.0/img/hero-bg.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;
}
/*Overlay*/
#home::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.431);
  position: absolute;
  top: 0;
  left: 0;
}

#home .home_row {
  z-index: 1;
}

#home .home_row h1 {
  font-size: 45px;
  color: #f7f7f7;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 70px;
}

#home .home_row h1 span {
  color: var(--themeColor);
}

#home .home_row p {
  color: #f7f7f7;
  font-size: 30px;
  font-weight: 500;
}

#home .home_row p span {
  border-bottom: 4px solid var(--themeColor);

}

/*Mobile view*/
@media(max-width: 670px) {
  #home {
    padding: 30px;

  }

  #home .home_row h1 {
    font-size: 35px;
    letter-spacing: 0px;
    line-height: 50px;
  }

  #home .home_row h1 br {
    display: none;
  }

  #home .home_row p {
    font-size: 20px;
    font-weight: 400;
  }
}
/*== End of Home section ==*/

